#!/bin/bash

export EXPRESS_LOG_LEVEL=trace
export APP_LOG_LEVEL=trace

echo
echo "Sourcing .secrets file..."
echo "#########################"
if [ -f .secrets ]; then
  source .secrets
else
  echo "WARNING: Expected to find a .secrets file but did not."
fi
echo "Done."

echo
echo "Checking env variables..."
echo "#########################"
for i in `cat docker/dockerenv.vars`; do
  var=$i
  if [ -z "${!var}" ]; then
    echo "WARNING: $i is not defined in your environment. You'll probably need to add it to your .secrets file."
  fi
done;
echo "Done. "
echo